.home-page {
  min-height: 100vh;
  background: #f5f5f5;
  text-align: center;
  padding-top: 80px;
}

.home-title {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.nav-btn {
  text-decoration: none;
  background: black;
  color: white;
  padding: 14px 20px;
  width: 250px;
  border-radius: 10px;
  font-size: 1.1rem;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #333;
}
