.page {
  min-height: 100vh;
  background: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.search-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.search-box input,
.search-box select {
  width: 80%;          
  max-width: 350px;    
  padding: 12px;
  margin: 10px auto;
  display: block;      
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}


.search-box button {
  width: 80%;
  max-width: 350px;
  padding: 12px;
  margin: 10px auto 0;
  display: block;
  background: black;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.book img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.book h3 {
  font-size: 1rem;
  margin: 6px 0;
  font-weight: bold;
}

.book .author {
  font-size: 0.9rem;
  color: #444;
}

.book .year {
  font-size: 0.85rem;
  color: #777;
}
